n8n_templates/stateless_sender_workflow.json
{
  "name": "stateless_sender_workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-hunter-sender",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "s1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        220,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst to = body.leadEmail;\nconst businessName = body.businessName || 'there';\nconst icebreaker = body.icebreaker || '';\nconst subject = 'Quick question about ' + businessName;\nconst message = 'Hi team at ' + businessName + '\\n\\n' + icebreaker + '\\n\\nI noticed you are relying heavily on manual operations. At Jomocal AI, we help businesses automate workflows to save time and capture more leads.\\n\\nWould you be open to a quick 5-minute chat this week?\\n\\nBest,\\nJomocal AI';\nconst rawEmail = 'To: ' + to + '\\r\\nSubject: ' + subject + '\\r\\nContent-Type: text/plain; charset=\\\"UTF-8\\\"\\r\\n\\r\\n' + message;\nconst encodedEmail = Buffer.from(rawEmail).toString('base64').replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=+$/, '');\nreturn { json: { ...body, encodedEmail } };"
      },
      "id": "s2",
      "name": "Build Raw Email (Base64url)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{$json.mode}}",
              "rightValue": "Auto-Pilot",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "s3",
      "name": "Auto-Pilot?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/messages/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$json.googleAccessToken}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"raw\":\"{{$json.encodedEmail}}\"}",
        "options": {}
      },
      "id": "s4",
      "name": "Send Gmail Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        210
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/drafts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$json.googleAccessToken}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"message\":{\"raw\":\"{{$json.encodedEmail}}\"}}",
        "options": {}
      },
      "id": "s5",
      "name": "Create Gmail Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        360
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{$json.spreadsheetId}}/values/Leads!F{{$json.rowIndex}}:H{{$json.rowIndex}}?valueInputOption=USER_ENTERED",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$json.googleAccessToken}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"values\":[[\"Sent\",\"{{$json.mode}}\",\"{{$now}}\"]]}",
        "options": {}
      },
      "id": "s6",
      "name": "Update Sheet Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1170,
        280
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Raw Email (Base64url)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Raw Email (Base64url)": {
      "main": [
        [
          {
            "node": "Auto-Pilot?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Pilot?": {
      "main": [
        [
          {
            "node": "Send Gmail Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Gmail Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail Message": {
      "main": [
        [
          {
            "node": "Update Sheet Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Gmail Draft": {
      "main": [
        [
          {
            "node": "Update Sheet Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}